<link rel="stylesheet" href="~/css/IncognitoMessage.css" asp-append-version="true" />

<div class="page-center ">
    <div class="hedrr">
        <h1>Vrei să folosești Threads fără Profil?</h1>
    </div>

    <div class="flex-wrapper">
        
        <i class="bi bi-person-x"></i> <p>
            Poţi folosi Threads fără a avea un profil pentru a
            răsfoi conţinut, dar nu vei putea posta, sau
            interacţiona cu alți useri.
        </p>

    </div>

    <div class="flex-wrapper">
        <i class="bi bi-eye-fill"></i><p>
            Poţi să modifici opţiunea oricând. Dacă doreşti să
            foloseşti Threads cu un profil, îți poți crea un cont
            sau te poți loga la un cont deja existent.
        </p>
    </div>
    <a class="filled btn rounded-pill" asp-area="" asp-controller="Posts" asp-action="Index">Folosește fără profil</a>
    <a class="empty btn rounded-pill" asp-area="" asp-controller="Home" asp-action="Index">Înapoi</a>

</div>