@if (ViewBag.Message != null)
{
    <h2 class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}
<br />
<h5><a class="button-add-group" href="/Groups/New"><i class="bi bi-plus-circle"></i> Creează un nou grup</a></h5>
<br />

@Html.Partial("GroupIndex")

@if(ViewBag.info != null)
{
    <h2 class="alert-warning p-3 rounded-3 text-center mb-5">@ViewBag.info</h2>
}

<style>
    .button-add-group {
        font-size: 1.2 rem;
        border-radius: 2rem;
        margin: 0.4rem;
        padding: 0.5rem 2rem 0.5rem 2rem;
        text-decoration: none;
        background-color: rgba(94, 101, 146, 1);
        color: white;
        outline: none;
        border: none;
    }

        .button-add-group:hover {
            background-color: rgba(94, 101, 146, 0.8);
            color: white;
        }

        .button-add-group:active {
            background-color: rgba(94, 101, 146, 0.8);
            color: white;
        }

        .button-add-group:focus {
            background-color: rgba(94, 101, 146, 0.8);
            color: white;
        }
</style>
